<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
      <body class="application">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">IMDB DashBoard</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="http://www.imdb.com/"><span class="glyphicon glyphicon-flash"></span>IMDB Home</a></li>
          <li><a href="http://www.imdb.com/chart/top?ref_=nv_mv_250_6">Top rated Movies</a></li>
          <li><a href="http://www.imdb.com/chart/moviemeter?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=3021371422&pf_rd_r=1RNWKTQNX4STVFZSF8AP&pf_rd_s=right-4&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_ql_2">Most popular Movies</a></li>
          <li><a href="http://www.imdb.com/news/top?ref_=nv_tp_nw_1">Top News</a></li><li><a href="./">Reset All</a></li><img class="img-responsive" src="static/images/IMDB.png" alt="no pic">
        </ul>
      </div>
      
    </div>
  </div>


  <div class="container-fluid">



    
    <div class="row">
          <!-- Bar Chart -->
          <div class="col-sm-8">
            <div class="chart-wrapper">
              <div class="chart-title"> Number of Movies per Genre
              </div>
              <div class="chart-stage">
                <div id="gen-count-chart"></div>
              </div>
            </div>
          </div>
      
          <!-- Bar Chart -->

          
        
      <!-- Genre Pie -->
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Genre Pie Chart 
              </div>
              <div class="chart-stage">
              <div id="gen-pie-chart"></div>
              </div>
            </div>
          </div>
    </div>
        
      <!-- Genre Pie -->

       <!-- Bar Chart -->
       <div class="row">
          <div class="col-sm-8">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average IMDB Rating per Year
              </div>
              <div class="chart-stage">
                <div id="year-count-chart"></div>
              </div>
            </div>
            </div>
          
      
        <!-- Rating Pie -->
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
               Ratings Pie Chart 
              </div>
              <div class="chart-stage">
                <div id="rate-pie-chart"></div>
              </div>
            </div>
          </div>
       </div>
      
      <!-- Rating Pie -->

     
      <div class="row">
            <!-- Bar Chart -->
              <div class="col-sm-8">
                 <div class="chart-wrapper">
                 <div class="chart-title">
                Profit/Loss comparison for each Genre
              </div>
              <div class ="chart-stage">
                <div id="composite-chart"></div>
              </div>
            </div>
          </div>
          

         


          
            <div class="col-sm-4">
              <div class="chart-wrapper">
                <div class="chart-title">
                Profit/Loss for Each Genre
                </div>
                <div class="chart-stage">
                  <div id="profitloss-pie-chart"></div>
                </div>
              </div>
            </div>
      </div>
  </div>

    




      
  <p class="small text-muted"> Data viz &#9829; from Code Institute</p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>